pandas
requests
arxiv
openai
transformers
matplotlib
black==25.9.0
pre-commit
ipykernel
jupyter
tqdm
torch
tf-keras
scikit-learn
sentence-transformers
hdbscan
bertopic[all]
pymupdf
semanticscholar
nltk
keybert
